/* Main Layout */

body {
    background-color: #e9e9e9;
    font-family: Arial, Helvetica, sans-serif;
}

.main-content {
    background-color: #ffffff;
    margin: 20px auto;
    width: 960px;
}


/* Header */

.page-heading {
    padding: 20px;
}

.page-heading .user-link {
    color: #7db9e8;
    float: right;
    font-weight: bold;
    margin-top: 20px;
}


/* Navigation */

.navigation {
    /* --background gradient --*/
    /* ----IE10+ ----*/
    background-image: -ms-linear-gradient(top, #1E5799 0%, #7db9e8 100%);
    /*---- Mozilla Firefox ----*/
    background-image: -moz-linear-gradient(top, #1E5799 0%, #7db9e8 100%);
    /*---- Opera---- */
    background-image: -o-linear-gradient(top, #1E5799 0%, #7db9e8 100%);
    /*---- Webkit (Safari/Chrome 10)---- */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1E5799), color-stop(100, #7db9e8));
    /* ----Webkit (Chrome 11+) ----*/
    background-image: -webkit-linear-gradient(top, #1E5799 0%, #7db9e8 100%);
    /*--- W3C Markup ----*/
    background-image: linear-gradient(to bottom, #1E5799 0%, #7db9e8 100%);

    padding: 10px;
}

.navigation a {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    margin: 0 10px;
}

/* Hero */

.hero {
    background-image: url(../images/hero.jpg);
    height: 300px;
    width: 100%; 
}

/* Services */
.services { 
    margin-top: 10px;
}
.service {
    float: left;
    padding: 20px;
    width: 280px;
}

.service-image {
    background-color: #7db9e8;
    border-radius: 50%;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    width: 200px;

}

.service-image img {
    margin-top: 30px;
}

.service h2 {
    text-align: center;
}

.clear {
    clear: both;
}